@media(max-width: 700px) {
    header {
      height: 100vh !important;
    }
    .overlay {
      height: 100vh !important;
    }
    .overlayalternate {
      height: 100vh !important;
    }
   
    .mainNavNocolor img{
         display: block;
        margin: auto !important;
    }
    .showcase > h1, .showcase > p{
        width: 100% !important;
        text-align: center !important;
        margin: 0px !important;
    }
    .showcaseAlternate > h1, .showcaseAlternate > p {
        width: 100% !important;
    }
    .howWorks {
        margin: 0px !important;
      }
    .homeCards {
        grid-template-columns: 1fr !important;
        margin: 0px !important;
    }
    .section {
        text-align: center;
      }
      .special {
        margin: auto;
      }
    .footer {
        text-align: center;
        justify-content: center;
      }
      .footer ul {
        text-align: center;
        flex-direction: column;
      }
      .footer section h2 {
        margin-right: 0px;
        text-align: center;
      }
}