@media(max-width: 700px) {
 .mainMenu {
              //display: flex;
            //  flex-direction: column;
            //  position: absolute;
            //  top:0;
            //  left:0;
            //  background-color:#393451;
            //  width:50%;
            //  text-align: center;
            //  transform : translateX(-20px);
        // margin:0px !important;
        // padding: 0px !important;
    }
   
    .mainNav .mainMenu .link, .mainNavAlternateColor .mainMenu .link {
        //display: none !important;
        // padding: 12px;
        // margin: 0px 10px 10px -20px; 
    }
    .mainNav .burgerMenu , .mainNavAlternateColor .burgerMenu{
        display: block;
    }
    .mainNav .burgerMenu:hover {
        opacity: 0.5;
    }
    .mainNavNocolor img{
         display: block;
        margin: auto !important;
    }
    .showcase > h1, .showcase > p{
        width: 100% !important;
        text-align: center !important;
        margin: 0px !important;
    }
    .showcaseAlternate > h1, .showcaseAlternate > p {
        width: 100% !important;
    }
    .howWorks {
        margin: 0px !important;
      }
    .homeCards {
        grid-template-columns: 1fr !important;
        margin: 0px !important;
    }
    .section {
        text-align: center;
      }
      .special {
        margin: auto;
      }
    .footer {
        text-align: center;
        justify-content: center;
      }
      .footer ul {
        text-align: center;
        flex-direction: column;
      }
      .footer section h2 {
        margin-right: 0px;
        text-align: center;
      }
}
@media screen and (max-width: 734px) and (min-width: 0px) {
   

}
@media screen and (max-height: 733px) and (max-width: 767px) and (min-height: 0px) and (min-width: 735px) {
      
}