@import 'mediaqueries','mixins','variables','./menu';
// @import './mixins';
// @import './variables';
//@import './menu';
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

$container-width: 100%;// wrapper ---
//$site-width: 1680px; /// inside wrapper site width margin 0 auto; image width 1680px
$color-pallet-background: #e5a191;
$color-pallet-footer: #393451;
$color-pallet-links: #ffffff;