* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

$container-width: 100%;// wrapper ---
$site-width: 1680px; /// inside wrapper site width margin 0 auto; image width 1680px
$color-pallete-1: #4a415c;
$color-pallete-2: #fba394;
$color-pallet-background: #e8a597;
$color-pallet-footer: #362f4f;
$color-pallet-links: #ffffff;
$color-pallete-3: #7f6c7d;
$color-pallete-4: #eee0df;
$color-pallete-5: #a8929b;
$color-pallete-6: #f5c4bc;
$color-pallete-7: #845c6a;
$color-pallete-8: #96656c;
$color-pallete-9: #c47c7c;
$color-pallet-10: rgba(0, 0, 0, 0.5);
$color-pallet-11: #393452;