@import '../styles/global';


input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
  label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
input{
    color: #8b1fa6; 
    background-color: #e5a190;
    border: 0px;
    border-bottom: 1px solid #8d6871;
    width: 55%;
    padding: 20px;
    outline: none;
    resize: vertical;
}
::-webkit-input-placeholder { /* Chrome */ color: white; }
    input:focus::-webkit-input-placeholder { color: #8b1fa6; }
    input[type='submit']:hover{
        cursor: pointer;
        color: white;
        background-color: #393451;
    }
    input[type='submit']{
        background-color: white;
        padding: 10px 10px;
        margin-top: 25px;
        border-radius: 5px;
        border: 2px solid #FFFFFF;
    }

.sectionsContainer {
    margin-top: calc(5% + 10px);
    margin-right: calc(5% + 10px);
    margin-left: calc(10% + 10px);
    margin-bottom: calc(5% + 10px);
  }
  
  .section {
    width: calc(50% + 150px);
    line-height: 2rem;
    color: #393451;
  }
  .section p {
    color: white;
  }
  .special {
    border-top: 8px solid #393451;
    border-radius: 5px;
    width: 100px;
  }
   /* Home cards */
   .homeCards {
    display: grid;
    background-color: #393451;
    color: #e5a190;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
    padding: 50px;
    margin-left: 50px;
    line-height: 2rem;
    margin-right: 50px;
  }

  .homeCards h2 {
     // margin-bottom: 5px;
    color: white;
  }
  .homeCards p {
      color: white;
  }
  .howWorks {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: #e5a190;
    background-color: white;
    flex-direction: column;
    ul li {
        list-style: none;
    }
  }
.bulletHeadings{
    color: $color-pallet-background;
    margin-bottom: 15px;
    font-weight: bold;
}
.bulletContents{
    color: #999999;
    font-weight: 500;
    margin-bottom: 55px;
}