@import '../styles/global';
footer {
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 50px;
  background-color: #393451;
  line-height: 2rem;
}
footer section h2{
   text-align: right;
  // align-self: center;
   margin-right: 20px;
}
  .footercontact {
    color: #e5a191;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: $h5;
  }
  .footermail{
    a {
      color: #FFFFFF;
      font-size: $h5;
    }
    a:hover{
      color: #e8a597;
    }
  }
  .footernavigation {
    ul {
      list-style-type: none;
      display: flex;
      font-size: $link;
    }
    li {
      padding: 20px;
    }
    a{
      color: #FFFFFF;
      text-decoration: none;
    }
    a:hover {
      color: #e8a597;
    }
  }
  .scrolltop {
    color: #FFFFFF;
    font-size: $link;
    border-bottom: 2px solid #e5a191;
    padding-bottom: 5px;
    text-decoration: none;
  }
  .scrolltop:hover{
      color: #e8a597;
  }