@import '../styles/global';
.footercontainer {
    padding: 50px;
    background-color: #393451;
    min-height: 270px;
    width: 100%;
  }
  .footercolumns{
    width: 50%;
    float: left;
    background-color: #393451;
  }
  .footercontact {
    color: #e5a191;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .footermail{
    margin-bottom: 88px;
    a {
      color: #FFFFFF;
      font-size: calc(16px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    a:hover{
      color: #e8a597;
    }
  }
  .footerlogo {
    margin-bottom: 88px;
    margin-top: 0px; 
    text-align: right;
  }
  .footernavigation {
    float: right;
    margin: 0;
    padding: 0;
    ul {
      list-style-type: none;
    }
    li{
      float: left;
    }
    a{
      color: #FFFFFF;
      text-decoration: none;
      padding: 0px 12px;
    }
    a:hover {
      color: #e8a597;
    }
  }
  
  .scrolltop {
    color: #FFFFFF;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    border-bottom: 2px solid #e5a191;
    padding-bottom: 5px;
    text-decoration: none;
    
  }
  .scrolltop:hover{
      color: #e8a597;
  }
  