@import '../styles/global';

.showcase {
  width: 100%;
  height: 80vh;
  background: url('../images/kitchen-female.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  align-self: center;
  line-height: 2.5rem;
  
}
.showcaseAlternate {
  width: 100%;
  height: 80vh;
  background: url('../images/kitchen-female.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 2.5rem;
}
.showcaseAlternate > h1, .showcaseAlternate > p , .showcaseAlternate > img{
  color: white;
  z-index: 10;
  width: 40%;
  font-size: $h5;
  padding: 10px 0 0 10px;
}
.showcase > h1, .showcase > p , .showcase > img{
  color: white;
  z-index: 10;
  width: 40%;
  font-size: $h5;
  padding: 10px 0 0 10px;
  margin-left: 110px;
}

.showcase .btnprimary , .bounce {
  margin-top: 20px;
  margin-left: 110px;
  z-index: 10;
}

  /* Nav */
  .mainNav {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 16px;
    background-color:rgba(0,0,0,0.1);
    z-index: 200;
  }
  .mainNavAlternateColor {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 16px;
    background-color: #393451;
    z-index: 200;

  }
  .mainNavNocolor {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 16px;
    z-index: 200;
  }
  
  // .mainNav .logo {
  //   width: 110px;
  //   margin: 30px;
  // }
  
   .mainNav .mainMenu, .mainNavAlternateColor .mainMenu {
    display: flex;
    justify-content:flex-end;
    margin-right: 10px;
    flex: 1;
  }
  
  .mainMenu {
    padding: 0 40px;
  }
.burgerMenu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}
  
  //  .mainNav {
  //   flex: 1;
  //   margin-left: 20px;
  // }
  
.link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
   margin: 20px;
  // margin-right: 40px;
  &:hover {
    color: $color-pallet-background;
    border-bottom: 2px solid #e5a190;
   
  }
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100%;
  height: 80%;
  background-color:#e5a191;
}
.bounce {
  position: absolute;
 //left: 430px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.overlayalternate{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  width: 100%;
  height: 80%;
  background-color:#393451;
}

.headerSectionContentsAlternate {
  width: 60%;
  text-align: center; 
  padding: 120px 0px;
  .subtitlealt{
    text-align: left;
    width: 60%;
  }
  .subcontents{
    width: 45%;
  }
  .contents {
    text-align: left;
    margin-left: 200px;
  }
}
        .btnprimary{
          @include button-primary;
        }