@import '../styles/global';

.container {
  width: $container-width;
  background-color: $color-pallet-background;

  .content {
    text-align: center;
    a {
      color: white;
    }
 
    @media screen and (min-width: 1px) and (max-width: 1000px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
      /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
 
  
  //height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

// Footer Styling


}