@import '../styles/global';
.container {
  width: $container-width;
  background-color: $color-pallet-background;
}
.content {
  text-align: center;
  a {
    color: white;
    font-size: $link;
  }  
}